
:root{
  --primary: #ff5333;
  --radius: 10px
}

*{
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* width: 100%; */
}
@media (min-width: 640px){
  .container{
    min-width: 640px;
    width: 60%;
    margin: auto;
  }
}
.container > div{
  background-color: #eee;
  border-radius: var(--radius);
  
}
.form{
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(10ch, 1fr) auto;
  /* justify-content: space-between; */
  gap: 10px;
  /* overflow: hidden; */
}
.form > input{
  border-radius: var(--radius);
  font-size: 1.4rem;
}
.form > .input{
  padding: 10px;
  /* flex-basis: 100%; */
  border: 1px solid #dddddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  caret-color: var(--primary);
}
.input:focus{
  outline-color: #ff52337e;
}

.form > .add{
  padding: 10px 30px;
  background-color: var(--primary);
  color: white;
  border: none;
  border: 1px solid var(--primary);
}
.form .add:hover{
  filter: brightness(90%);
}

.tasks{
  position: relative;
  padding-bottom: 20px;
  display: grid;
  gap: 10px;
  /* overflow: hidden; */
}

.tasks > header{
  background-color: var(--primary);
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  /* top: 0; */
}

.tasks > .empty{
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px;
  color: #bbbbbb;
}

.tasks > .task{
  margin: 0 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dddddd;
  gap: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: var(--radius);
}

.task .title{
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task .settings{
  position: relative;
  background-color: var(--primary);
  border-radius: 7px;
}

.task .settings > .settings-btn{
  color: white;
  font-size: 1.4rem;
  padding: 0 8px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
  transition-property: background-color, scale, rotate;
  text-align: center;
}
/* .task .settings > .settings-btn:active{
  rotate: 45deg;
} */

.task .buttons-container{
  background-color: #f8f2f0;
  filter: drop-shadow(0px 0px 10px #0000002a);
  padding: 5px 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 5px);
  border-radius: 5px;
  /* overflow: hidden; */
}

.task .buttons-container > .btn{
  color: var(--primary);
  /* background-color: white; */
  font-weight: 500;
  transition: 0.2s ease;
  transition-property: background-color,scale;
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding: 8px 16px;
}

.task .buttons-container > .btn:hover{
  color: white;
  background-color: var(--primary);
}

.task .buttons-container > .btn:active{
  scale: 0.97;
}

/* .task .buttons-container > .delete:hover{
  background-color: #db2911;
  border-color: #db2911;
} */

.task .buttons-container > .confirm{
  --confirm-color: #2ad68f;
  font-weight: 500;
  color: var(--confirm-color);
  border: 1px solid var(--confirm-color);
  border-radius: 7px;
}
.task .buttons-container > .confirm:hover{
  color: white;
  border: 1px solid var(--confirm-color);
  background-color: var(--confirm-color);
}

.task > .edit-field{
  border-radius: 7px;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 7px 16px;
  border: 1px solid #dddddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  caret-color: #2ad68f;
}
.task > .edit-field:focus{
  outline-color: #2ad68f7e;
}